In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/heart-attack-prediction/data.csv

In [2]:
data = pd.read_csv('/kaggle/input/heart-attack-prediction/data.csv', na_values='?')
data.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,NaN,NaN,NaN,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,NaN,NaN,NaN,0
2,29,1,2,140.0,NaN,0.0,0.0,170.0,0.0,0.0,NaN,NaN,NaN,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,NaN,NaN,6.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,NaN,NaN,NaN,0

In [3]:
data.isnull().sum()

age             0
sex             0
cp              0
trestbps        1
chol           23
fbs             8
restecg         1
thalach         1
exang           1
oldpeak         0
slope         190
ca            291
thal          266
num             0
dtype: int64

In [4]:
data = data.drop(['slope', 'ca', 'thal'], axis=1)
data.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,0
2,29,1,2,140.0,NaN,0.0,0.0,170.0,0.0,0.0,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,0

In [5]:
data['trestbps'] = data['trestbps'].fillna(data['trestbps'].median())

In [6]:
data['chol'] = data['chol'].fillna(data['chol'].median())

In [7]:
data['fbs'] = data['fbs'].fillna(data['fbs'].median())

In [8]:
data['restecg'] = data['restecg'].fillna(data['restecg'].median())

In [9]:
data['thalach'] = data['thalach'].fillna(data['thalach'].median())

In [10]:
data['exang'] = data['exang'].fillna(data['exang'].mode()[0])

In [11]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,0
2,29,1,2,140.0,243.0,0.0,0.0,170.0,0.0,0.0,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,0

In [12]:
from sklearn.preprocessing import StandardScaler

# choose numerical column
num_cols = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']

scaler = StandardScaler()
data[num_cols] = scaler.fit_transform(data[num_cols])

In [13]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num
0,-2.542347,1,2,-0.146571,-1.822595,0.0,2.0,1.951019,0.0,-0.646074,0
1,-2.414117,1,2,-0.715815,-0.111523,0.0,0.0,0.887616,0.0,-0.646074,0
2,-2.414117,1,2,0.422673,-0.111523,0.0,0.0,1.312977,0.0,-0.646074,0
3,-2.285888,0,1,2.130406,-0.204014,0.0,1.0,1.312977,0.0,-0.646074,0
4,-2.157658,0,2,-1.854303,-0.481485,0.0,1.0,0.462255,0.0,-0.646074,0

In [14]:
data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'num       '],
      dtype='object')

In [15]:
data.columns = data.columns.str.strip()  # Delete spaces

In [16]:
#separate features and target(main)
X = data.drop('num', axis=1)
y = data['num']

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [18]:
# 9. Display
print("\nData for training !")
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)

Data for training !
X_train shape: (205, 10)
X_test shape: (89, 10)

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Create and training the model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict on test data
y_pred = model.predict(X_test)

# Evaluate performance
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.8202247191011236

Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.87      0.87        61
           1       0.71      0.71      0.71        28

    accuracy                           0.82        89
   macro avg       0.79      0.79      0.79        89
weighted avg       0.82      0.82      0.82        89


Confusion Matrix:
 [[53  8]
 [ 8 20]]

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

# Define the hyperparameters to test
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [5, 8, 10, None],
    'random_state': [42]  
}

# Define the classifier
rf = RandomForestClassifier()

# GridSearch with recall-based scoring
grid_search = GridSearchCV(
    estimator=rf,
    param_grid=param_grid,
    scoring='recall',  
    cv=5,
    n_jobs=-1,
    verbose=1
)

# Training
grid_search.fit(X_train, y_train)

# Results
print("Best params founded :", grid_search.best_params_)
print("best recall :", grid_search.best_score_)

Fitting 5 folds for each of 12 candidates, totalling 60 fits
Best params founded : {'max_depth': 8, 'n_estimators': 100, 'random_state': 42}
best recall : 0.6933333333333334

In [21]:
# Evaluate the best model on the test set
best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test)

# Display
print("\nEvaluation on the test :")
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))

Evaluation on the test :
Accuracy: 0.7865168539325843

Classification Report:
               precision    recall  f1-score   support

           0       0.85      0.84      0.84        61
           1       0.66      0.68      0.67        28

    accuracy                           0.79        89
   macro avg       0.75      0.76      0.75        89
weighted avg       0.79      0.79      0.79        89


Confusion Matrix:
 [[51 10]
 [ 9 19]]

Between the two models: we gain in recall for class 1 (detected cases of disease) → fewer false negatives, which is a medical positive

We lose a little in precision → more false positives, but less dangerous

The overall accuracy decreases slightly, but in a medical context, class 1 recall is often higher